.form-container {
	height: 500px;
	width: 500px;
	background-color: rgba($color: #333, $alpha: 0.8);
	border-radius: 20px;
	box-shadow: 0 0 15px #7f7e7e;
	overflow-y: auto;
}
.h1 {
	margin: 20px 0;
	text-align: center;
}
.input-box {
	display: flex;
	justify-content: center;
	align-items: start;
	height: 20%;
	padding: 20px;
	font-size: 24px;
	color: royalblue;

	.error-info {
		font-size: 15px;
		padding: 5px;
		text-align: right;
		color: red;
	}
	label {
		margin-left: 50px;
	}

	input {
		height: 35px;
		width: 200px;
		padding: 5px;
		font-size: 20px;
		border: 0;
		border-radius: 4px;
		box-shadow: 0 0 2px white;
		color: tomato;
		background-color: rgba($color: #333, $alpha: 0.9);
	}

	.input-info {
		margin-left: auto;
	}

	.invalid {
		box-shadow: 0 0 5px tomato;
	}
}

.input-box-delivery {
	flex-direction: column;
	align-items: center;

	label {
		margin: 0 0 30px;
	}
	.input-info {
		margin: 0 auto;
	}

	textarea {
		border: 0;
		border-radius: 4px;
		box-shadow: 0 0 2px white;
		color: tomato;
		background-color: rgba($color: #333, $alpha: 0.9);
	}
}

/* Stylizacja scrollbarów */
.form-container::-webkit-scrollbar {
	width: 5px; /* szerokość scrollbara */
}

.form-container::-webkit-scrollbar-track {
	background: transparent; /* kolor tła tracku */
}

.form-container::-webkit-scrollbar-thumb {
	background: #888; /* kolor kciuka scrollbara */
	border-radius: 50px; /* zaokrąglenie kciuka */
}

.form-container::-webkit-scrollbar-thumb:hover {
	background: #555; /* kolor kciuka scrollbara po najechaniu myszką */
}

@media (max-width: 576) {
	.input-box {
		flex-direction: column;
	}
}
